
.navbar-brand img {
    height: 50px;
    width: 50px;
}

.text-bg-info {
    color: #000!important;
    background-color: #9ef7ef !important;
}

.hover:hover{
    color: gray !important;
}

.actor{
    height: 150px;
    width: 120px;
    margin: 20px;
}